<div class="container">
  <div>
    <p>
      Selected Folders:
      <span *ngIf="selectedFolders"> {{ selectedFolders }}</span>
    </p>
  </div>

  <div class="select-area" #workField>
    <div
      class="folder-item"
      *ngFor="let item of foldersList"
      #folder
      [@selectedFolder]="selectedFolderStyle(item.name) ? 'selected' : 'unselected'"
    >
      <p>{{ item.name }}</p>
    </div>
    <div
      class="selected-area"
      [style]="parametrsForSelectedZone()"
      #selectedZone
    ></div>
  </div>
</div>
